<div class="m-dialog {{severity}}">
   <div class="m-modal">
      <div class="m-content">
         <div class="m-title">
            <i class="m-icon"></i>
            <span>{{{title}}}</span>
         </div>
         <div class="m-message">{{{message}}}</div>
         <div id="m-edition-dialog-button-aceptar" class="m-edition-dialog-button">
            <button>Aceptar</button>
         </div>
         <div id="m-edition-dialog-button-cancelar" class="m-edition-dialog-button">
            <button>Cancelar</button>
         </div>
      </div>
   </div>
</div>