<div class="m-entitygeometry-container">
	<div id="m-button-entitypolygon-{{orientation}}" class="m-control button">
		<div id="m-zoommenu-button" class="dropdown">
	    	<button id="m-zoom-button" class="g-cartografia-zoom"  title="Zoom"></button>
		    <div id="myDropdown" class="dropdown-content">
	            <div><button id="m-zoomsandbox-button" class="icon-edition-zoom-sandbox" title="Zoom a la capa de trabajo"></button></div>
	    		<div><button id="m-zoomselect-button" class="icon-edition-zoom-selection" title="Zoom a las geometrías seleccionadas"></button></div>
	        </div>
        </div>
	    <div id="m-selectmenu-button" class="dropdown">
	    	<button id="m-select-button" class="g-cartografia-flecha"  title="Seleccionar"></button>
		    <div id="myDropdown" class="dropdown-content">
	            <div><button id="m-selectclick-button" class="icon-edition-select-click" title="Seleccionar por click"></button></div>
	            <div><button id="m-selectline-button" class="icon-edition-select-line" title="Seleccionar por línea"></button></div>
	            <div><button id="m-selectarea-button" class="icon-edition-select-area" title="Seleccionar por área"></button></div>
				<div><button id="m-selectall-button" class="icon-edition-select-all" title="Seleccionar todas las geometrías"></button></div>
				<div><button id="m-deselectall-button" class="icon-edition-deselect-all" title="Deseleccionar todas las geometrías"></button></div>
	        </div>
        </div>
       	<div id="m-addgeometrymenu-button" class="dropdown">
	    	<button id="m-addgeometry-button" class="icon-edition-import-button" title="Añadir geometría desde Servicio WFS"></button>
		    <div id="myDropdown" class="dropdown-content">
	            <div><button id="m-addgeomclick-button" class="icon-edition-select-click" title="Filtrar por punto en el mapa"></button></div>
	           	<div><button id="m-addgeomlinea-button" class="icon-edition-select-line" title="Filtrar por intersección de línea"></button></div>
	            <div><button id="m-addgeomarea-button" class="icon-edition-select-area" title="Filtrar por interior de área"></button></div>
	            <div><button id="m-addgeomradio-button" class="icon-edition-modify-polygon" title="Filtrar por intersección de circunferencia"></button></div>
	        </div>
	    </div>
	    <button id="m-draw-button" class="g-cartografia-editar" title="Dibujar geometría"></button>
	    <button id="m-snapping-button" class="icon-edition-snapping" title="Activar snapping"></button>
	    <button id="m-modify-button" class="icon-edition-modify-polygon" title="Modificar geometría"></button>
	    <button id="m-splitpolygon-button" class="g-cartografia-linea" title="Dividir geometría"></button>
	    <button id="m-unir-button" class="icon-edition-union" title="Agrupar geometrías"></button>
	    <button id="m-vaciado-button" class="icon-edition-empty-polygon" title="Vaciado"></button>
		<button id="m-intersect-button" class="icon-edition-intersection" title="Intersección de geometrías"></button>
		<button id="m-removefromsandbox-button" class="icon-edition-delete-selected" title="Eliminar geometrías seleccionadas de la capa de trabajo"></button>
	</div>
</div>