<div class="advLSmenu-item">
	<!-- Folder Menu -->
	<menu id="advLSmenu-folder" class="advLSmenu">
		<li id="advLSmenu-loadToc" class="advLSmenu-item advLSsubmenu">
			<button type="button" class="advLSmenu-btn">
				<i class="g-cartografia-herramienta"></i> <span class="advLSmenu-text">Configuración</span>
			</button>
			<menu class="advLSmenu">
				<li id="advLSmenu-saveTocInFile" class="advLSmenu-item">
					<button type="button" id="advLSmenu-btn-saveTocInFile"
						class="advLSmenu-btn">
						<i class="g-cartografia-guardar"></i> <span class="advLSmenu-text">Guardar en fichero local</span>
					</button>
				</li>
				<li id="advLSmenu-loadTocFromFile" class="advLSmenu-item">
					<button type="button" id="advLSmenu-btn-loadTocFromFile"
						class="advLSmenu-btn">
						<i class="g-cartografia-descargar"></i> <span class="advLSmenu-text">Cargar desde fichero local</span>
					</button>
				</li>
			</menu>
		</li>
		<li class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-addFolder"
				class="advLSmenu-btn">
				<i class="g-cartografia-mas2"></i> <span class="advLSmenu-text">Añadir
					carpeta</span>
			</button>
		</li>
		<li id="advLSmenu-deleteFolder" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-deleteFolder"
				class="advLSmenu-btn">
				<i class="g-cartografia-papelera"></i><span class="advLSmenu-text">Eliminar carpeta</span>
			</button>
		</li>
		<li class="advLSmenu-separator"></li>
		<li id="advLSmenu-addLayer" class="advLSmenu-item advLSsubmenu">
			<button type="button" class="advLSmenu-btn">
				<i class="g-cartografia-capas2"></i> <span class="advLSmenu-text">Añadir
					capa</span>
			</button>
			<menu class="advLSmenu">
				<li class="advLSmenu-item">
					<button type="button" id="advLSmenu-btn-addWMSLayer"
						class="advLSmenu-btn">
						<i class="g-cartografia-capas2"></i> <span class="advLSmenu-text">Nueva
							capa WMS</span>
					</button>
				</li>
				<li class="advLSmenu-item">
					<button type="button" id="advLSmenu-btn-addFileLayer"
						class="advLSmenu-btn">
						<i class="g-cartografia-capas"></i> <span class="advLSmenu-text">Nueva
							capa desde archivo</span>
					</button>
				</li>
			</menu>
		</li>
		<li class="advLSmenu-separator"></li>
		<li id="advLSmenu-activateLayers" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-activateLayers"
				class="advLSmenu-btn">
				<i class="g-cartografia-check"></i> <span class="advLSmenu-text">Activar
					capas</span>
			</button>
		</li>
		<li id="advLSmenu-deactivateLayers" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-deactivateLayers"
				class="advLSmenu-btn">
				<i class="g-cartografia-check4"></i> <span class="advLSmenu-text">Desactivar
					capas</span>
			</button>
		</li>
		<li id="advLSmenu-showLegend" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-showLegend"
				class="advLSmenu-btn">
				<i class="g-cartografia-lista"></i> <span class="advLSmenu-text">Mostrar leyenda</span>
			</button>
		</li>
		<li id="advLSmenu-hideLegend" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-hideLegend"
				class="advLSmenu-btn">
				<i class="g-cartografia-menu"></i> <span class="advLSmenu-text">Ocultar leyenda</span>
			</button>
		</li>
	</menu>
	
	<!-- Layer Menu -->
	<menu id="advLSmenu-layer" class="advLSmenu">
		<li class="advLSmenu-item advLSsubmenu">
			<button type="button" class="advLSmenu-btn">
				<i class="g-cartografia-mas2"></i> <span class="advLSmenu-text">Añadir
					capa</span>
			</button>
			<menu class="advLSmenu">
				<li class="advLSmenu-item">
					<button type="button" id="advLSmenu-btn-addWMSLayer"
						class="advLSmenu-btn">
						<i class="g-cartografia-capas2"></i> <span class="advLSmenu-text">Nueva
							capa WMS</span>
					</button>
				</li>
				<li class="advLSmenu-item">
					<button type="button" id="advLSmenu-btn-addFileLayer"
						class="advLSmenu-btn">
						<i class="g-cartografia-capas"></i> <span class="advLSmenu-text">Nueva
							capa desde archivo</span>
					</button>
				</li>
			</menu>
		</li>
		<li id="advLSmenu-deleteLayer" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-deleteLayer"
				class="advLSmenu-btn">
				<i class="g-cartografia-papelera"></i> <span class="advLSmenu-text">Eliminar
					capa</span>
			</button>
		</li>
		<li id="advLSmenu-zoomToLayer" class="advLSmenu-item">
			<button type="button" id="advLSmenu-btn-zoomToLayer"
				class="advLSmenu-btn">
				<i class="g-cartografia-zoom-extension"></i> <span class="advLSmenu-text">Zoom a la capa</span>
			</button>
		</li>
	</menu>
</div>