<div class="m-control m-import-container">
	<div class="m-import-container">
		<div id="m-import-tabs-content">
			<div id="m-importfile-container" class="importcontainer">
				<div class="drop-zone">Arrastre un fichero (.zip) aquí</div>
				<label class="inputfileContainer">
					<button>
						<i class="g-cartografia-zoom"></i> Examinar
					</button> <input type="file" accept=".zip" /> <input
					id="inputFile" type="text"
					placeholder="Seleccione un fichero (.zip)" disabled="disabled" />
				</label>
				<div id="addJsonContainer" class="saveButtonContainer">
					<button id="importJsonFileButton">
						<i class="g-cartografia-guardar"></i> Cargar TOC
					</button>
				</div>
			</div>
		</div>
	</div>
</div>