<div class="m-control m-WFSManager-container">
	<div class="m-WFSManager-container">
		<div id="m-WFSManager-tabs-content">
			<div id="m-WFSManager-container" class="importServiceContainer">
				<div id="m-WFSManager-input">
					<input name="newFolder" id="m-addFolder-input" type="text"
						placeholder="{{placeholder}}">
				</div>
				<div class="addButtonContainer">
					<button id="m-addFolder-button">
						<i class="g-cartografia-guardar"></i> Añadir
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
