<div class="WFSManagermenu-item">
	<!-- Folder Menu -->
	<menu id="WFSManagermenu-folder" class="WFSManagermenu">
		<li id="WFSManagermenu-loadToc" class="WFSManagermenu-item WFSManagersubmenu">
			<button type="button" class="WFSManagermenu-btn">
				<i class="g-cartografia-herramienta"></i> <span class="WFSManagermenu-text">Configuración</span>
			</button>
			<menu class="WFSManagermenu">
				<li id="WFSManagermenu-saveTocInFile" class="WFSManagermenu-item">
					<button type="button" id="WFSManagermenu-btn-saveTocInFile"
						class="WFSManagermenu-btn">
						<i class="g-cartografia-guardar"></i> <span class="WFSManagermenu-text">Guardar en fichero local</span>
					</button>
				</li>
				<li id="WFSManagermenu-loadTocFromFile" class="WFSManagermenu-item">
					<button type="button" id="WFSManagermenu-btn-loadTocFromFile"
						class="WFSManagermenu-btn">
						<i class="g-cartografia-descargar"></i> <span class="WFSManagermenu-text">Cargar desde fichero local</span>
					</button>
				</li>
			</menu>
		</li>
		<li class="WFSManagermenu-item">
			<button type="button" id="WFSManagermenu-btn-addFolder"
				class="WFSManagermenu-btn">
				<i class="g-cartografia-mas2"></i> <span class="WFSManagermenu-text">Añadir
					carpeta</span>
			</button>
		</li>
		<li id="WFSManagermenu-deleteFolder" class="WFSManagermenu-item">
			<button type="button" id="WFSManagermenu-btn-deleteFolder"
				class="WFSManagermenu-btn">
				<i class="g-cartografia-papelera"></i><span class="WFSManagermenu-text">Eliminar carpeta</span>
			</button>
		</li>
		<li class="WFSManagermenu-separator"></li>
		<li id="WFSManagermenu-addService" class="WFSManagermenu-item">
			<button type="button" id="WFSManagermenu-btn-addService"
				class="WFSManagermenu-btn">
				<i class="g-cartografia-check"></i> <span class="WFSManagermenu-text">Añadir
					servicio</span>
			</button>
		</li>
	</menu>
	
	<!-- Service Menu -->
	<menu id="WFSManagermenu-service" class="WFSManagermenu">
		<li id="WFSManagermenu-addService" class="WFSManagermenu-item">
			<button type="button" id="WFSManagermenu-btn-addService"
				class="WFSManagermenu-btn">
				<i class="g-cartografia-check"></i> <span class="WFSManagermenu-text">Añadir
					servicio</span>
			</button>
		</li>
		<li id="WFSManagermenu-deleteService" class="WFSManagermenu-item">
			<button type="button" id="WFSManagermenu-btn-deleteService"
				class="WFSManagermenu-btn">
				<i class="g-cartografia-check4"></i> <span class="WFSManagermenu-text">Eliminar
					servicio</span>
			</button>
		</li>
	</menu>
</div>